.productCard_main{
    width: 80%;
    width: 75vw;
    min-height: 50vh;
    border:2px solid rgb(176, 177, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
   
}

.PC_sec_1{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    
    
}

.PC_sec_1 > h2{
    text-transform: capitalize;
}
.PC_sec_1 > p{
    width: 90%;
}
.PC_sec_2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    gap: 1vh;
    /* border: 2px solid red; */

}

.PC_sec2_img{
    width: 100%;
    width: 50%;
    height: 50%;
    padding: 2px;
    border: 2px solid rgb(123, 123, 123);
    
}

.PC_sec_2 > button{
    margin-top: 1em;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    background-color: #fff;
    color: #f80a0a;
    border: 2px solid rgb(245, 8, 8);
    border-radius: 5px;
    cursor: pointer;
}

.PC_sec_2 > button:hover{
    background-color: red;
    color: #fff;
}


.PC_sec_2 > button:active{
    background-color: rgb(248, 10, 169);
}